# 1-Series 数据选择方法

01-将 Series 看成字典

In [1]:
# 和字典一样，Series 对象提供了键值对的映射：

import pandas as pd

data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [2]:
data['b']

0.5

用 Python 字典的表达式和方法来检测键 / 索引和值

In [3]:
'a' in data

True

In [4]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

Series 对象还可以用字典语法调整数据。可以通过增加新的索引值扩展 Series.
    
    Series 对象的可变性是一个非常方便的特性.

In [6]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

02-将Series看作一维数组

    Series 不仅有着和字典一样的接口，而且还具备和 NumPy 数组一样的数组数据选择功能，包括索引、掩码、花哨的索引等操作。

In [7]:
# 将显式索引作为切片
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [8]:
# 将隐式整数索引作为切片
data[0:2]

a    0.25
b    0.50
dtype: float64

注意：显式切片和隐式切片的范围差别

    当用显式索引（即 data['a':'c']）作切片时，结果包含最后一个索 引；
    而当使用隐式索引（即 data[0:2]）作切片时，结果不包含 最后一个索引.

In [9]:
# 掩码
data[(data>0.3) & (data<0.8)]

b    0.50
c    0.75
dtype: float64

In [10]:
# 花哨的索引
data[['a','e']]

a    0.25
e    1.25
dtype: float64

03-索引器：loc、 iloc 和 ix（ix已经弃用）

切片和取值的习惯用法经常会造成混乱。
    
    eg：如果你的 Series 是显式整数索引，那么 data[1] 这样的取值操作会使用显式索引，
    而 data[1:3] 这样的切片操作却会使用隐式索引。

In [11]:
data = pd.Series(['a','b','c'], index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [12]:
# 取值操作是显式索引
data[1]

'a'

In [13]:
# 切片操作是隐式索引
data[1:3]

3    b
5    c
dtype: object

注：整数索引很容易造成混淆，Pandas 提供了一些索引器（indexer）属性来作为取值的方法。它们不是 Series 对象的函数方法，而是暴露切片接口的属性。

001-索引器是--loc属性（表示取值和切片都是显式的）

In [14]:
data.loc[1]

'a'

In [15]:
data.loc[1:3]

1    a
3    b
dtype: object

002--iloc属性（表示隐式的）

In [16]:
data.iloc[1]

'b'

In [17]:
data.iloc[1:3]

3    b
5    c
dtype: object

Python 代码的设计原则之一是“显式优于隐式”。

    使用 loc 和 iloc 可以让代码更容易维护，可读性更高。    
    既可以让代码阅读和理解起来更容易，也能避免因误用索引 / 切片而产生的小 bug。

# 2-DataFrame 数据选择方法

01-将 DataFrame 看成字典

    把 DataFrame 当作一个由若干 Series 对象构成的字典。

In [18]:
area = pd.Series({'California': 423967,
                  'Texas': 695662,
                  'New York': 141297,
                  'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521,
                 'Texas': 26448193,
                 'New York': 19651127,
                 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [19]:
# 两个 Series 分别构成 DataFrame 的一列，
# 可以通过对列名进行字典形式的取值获取数据.
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [20]:
# 用属性形式选择纯字符串列名的数据
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [21]:
# 对同一个对象进行属性形式与字典形式的列数据，结果是相同的
data.area is data['area']

True

注：如果列名不是纯字符串，或者列名与 DataFrame 的方法同名，那么就不能用属性索引。

In [22]:
# DataFrame 有一个 pop() 方法，
# 用 data.pop 就不会获取 'pop' 列，而是显示为方法。
data.pop is data['pop']

False

避免对用属性形式选择的列直接赋值（即可以用 data['pop'] = z，但不要用 data.pop = z）

In [23]:
# 可以用字典形式的语法调整对象
# 增加一列可以这样做
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

02-将DataFrame看成二维数组
    
    把 DataFrame 看成是一个增强版的二维数组，用 values 属性按行查看数组数据

In [24]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [25]:
# 对 DataFrame 进行行列转置
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

通过字典形式对列进行取值显然会限制我们把 DataFrame 作为 NumPy 数组可以获得的能力，
尤其是当我们在 DataFrame 数组中使用单个行索引获取一行数据时.

In [26]:
# 使用单个行索引获取一行数据
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [27]:
data.values[0][1]

38332521.0

In [28]:
# 获取一列数据就需要向 DataFrame 传递单个列索引
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

在进行数组形式的取值时，我们就需要用另一种方法：Pandas 索引器 loc、iloc 和 ix

In [29]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [30]:
data.loc[:'Florida',:'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860

任何用于处理 NumPy 形式数据的方法都可以用于这些索引器

In [31]:
# 在 loc 索引器中结合使用掩码与花哨的索引方法
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

任何一种取值方法都可以用于调整数据

In [32]:
data.iloc[0,2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

03-其他取值方法

In [33]:
# 对单个标签取值就选择列，而对多个标签用切片就选择行
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [34]:
# 切片也可以不用索引值，而直接用行数来实现
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

In [35]:
# 掩码操作也可以直接对每一行进行过滤，而不需要使用 loc 索引器
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

In [36]:
# 单独使用 data['Florida'] 会发生错误
data['Florida':]

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [37]:
data[:'New York']

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746